window#osd {
    padding: 12px;
    border-radius: 18px;
    border: 2px solid #6D7D6D;
    background: alpha(#0D2124, 0.88);
}

#container {
    margin: 8px;
}

image,
label {
    color: #c2cbcb;
}

progressbar:disabled,
image:disabled {
    opacity: 0.5;
}

progressbar {
    min-height: 8px;
    border-radius: 999px;
    background: alpha(#878e8e, 0.35);
    border: none;
}

progress {
    min-height: 8px;
    border-radius: 999px;
    background: #6D7D6D;
    border: none;
}

trough {
    min-height: 8px;
    border-radius: 999px;
    background: alpha(#878e8e, 0.35);
    border: none;
}

slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background: transparent;
    border: none;
    box-shadow: none;
}
